In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [2]:
data=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Decision Tree\\Company_Data.csv")
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
df=data.copy()

In [4]:
df['ShelveLoc'].replace({'Bad':0,'Medium':1,'Good':2},inplace=True)
df['Urban'].replace({'No':0,'Yes':1},inplace=True)
df['US'].replace({'No':0,'Yes':1},inplace=True)

In [5]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,2,65,10,1,1
2,10.06,113,35,10,269,80,1,59,12,1,1
3,7.40,117,100,4,466,97,1,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,2,33,14,1,1
396,6.14,139,23,3,37,120,1,55,11,0,1
397,7.41,162,26,12,368,159,1,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,2,49,16,1,1

In [6]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [7]:
df.corr()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
Sales,1.000000,0.064079,0.151951,0.269507,0.050471,-0.444951,0.554458,-0.231815,-0.051955,-0.015419,0.177093
CompPrice,0.064079,1.000000,-0.080653,-0.024199,-0.094707,0.584848,0.038549,-0.100239,0.025197,0.066594,0.016869
Income,0.151951,-0.080653,1.000000,0.058995,-0.007877,-0.056698,-0.053465,-0.004670,-0.056855,0.037967,0.089601
Advertising,0.269507,-0.024199,0.058995,1.000000,0.265652,0.044537,0.056552,-0.004557,-0.033594,0.042035,0.684460
Population,0.050471,-0.094707,-0.007877,0.265652,1.000000,-0.012144,-0.020614,-0.042663,-0.106378,-0.052025,0.060564
Price,-0.444951,0.584848,-0.056698,0.044537,-0.012144,1.000000,0.050924,-0.102177,0.011747,0.047016,0.057861
ShelveLoc,0.554458,0.038549,-0.053465,0.056552,-0.020614,0.050924,1.000000,0.014149,-0.025723,-0.075404,0.047378
Age,-0.231815,-0.100239,-0.004670,-0.004557,-0.042663,-0.102177,0.014149,1.000000,0.006488,0.028479,0.008652
Education,-0.051955,0.025197,-0.056855,-0.033594,-0.106378,0.011747,-0.025723,0.006488,1.000000,-0.033094,-0.078250
Urban,-0.015419,0.066594,0.037967,0.042035,-0.052025,0.047016,-0.075404,0.028479,-0.033094,1.000000,0.047085
US,0.177093,0.016869,0.089601,0.684460,0.060564,0.057861,0.047378,0.008652,-0.078250,0.047085,1.000000

In [15]:
model=smf.ols('Sales~CompPrice+Income+Advertising+Population+Price+ShelveLoc+Age+Education+Urban+US',data=df).fit()

In [16]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.867
Model:                            OLS   Adj. R-squared:                  0.863
Method:                 Least Squares   F-statistic:                     252.9
Date:                Sat, 27 Feb 2021   Prob (F-statistic):          2.15e-163
Time:                        19:48:59   Log-Likelihood:                -579.33
No. Observations:                 400   AIC:                             1181.
Df Residuals:                     389   BIC:                             1225.
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       5.4028      0.616      8.775      0.000       4.192       6.613
CompPrice       0.0926      0.004     21.775      0.000       0.084       0.101
Income          0.0162      0.002      8.549      0.000       0.012       0.020
Advertising     0.1204      0.011     10.574      0.000       0.098       0.143
Population      0.0003      0.000      0.766      0.444      -0.000       0.001
Price          -0.0952      0.003    -34.795      0.000      -0.101      -0.090
ShelveLoc       2.4116      0.078     30.760      0.000       2.257       2.566
Age            -0.0469      0.003    -14.394      0.000      -0.053      -0.040
Education      -0.0209      0.020     -1.036      0.301      -0.061       0.019
Urban           0.1412      0.116      1.220      0.223      -0.086       0.369
US             -0.1293      0.153     -0.845      0.399      -0.430       0.172
==============================================================================
Omnibus:                        1.162   Durbin-Watson:                   2.040
Prob(Omnibus):                  0.559   Jarque-Bera (JB):                1.192
Skew:                           0.129   Prob(JB):                        0.551
Kurtosis:                       2.933   Cond. No.                     4.12e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.12e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
model1=smf.ols('Sales~CompPrice+Income+Advertising+Price+ShelveLoc+Age',data=df).fit()

In [24]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.865
Model:                            OLS   Adj. R-squared:                  0.863
Method:                 Least Squares   F-statistic:                     420.7
Date:                Sat, 27 Feb 2021   Prob (F-statistic):          1.26e-167
Time:                        19:50:12   Log-Likelihood:                -581.44
No. Observations:                 400   AIC:                             1177.
Df Residuals:                     393   BIC:                             1205.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       5.2624      0.515     10.215      0.000       4.250       6.275
CompPrice       0.0923      0.004     21.853      0.000       0.084       0.101
Income          0.0162      0.002      8.603      0.000       0.012       0.020
Advertising     0.1164      0.008     14.711      0.000       0.101       0.132
Price          -0.0952      0.003    -34.791      0.000      -0.101      -0.090
ShelveLoc       2.4031      0.078     30.790      0.000       2.250       2.557
Age            -0.0469      0.003    -14.441      0.000      -0.053      -0.041
==============================================================================
Omnibus:                        1.110   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.574   Jarque-Bera (JB):                1.189
Skew:                           0.121   Prob(JB):                        0.552
Kurtosis:                       2.888   Cond. No.                     1.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""